.multi-column-editor {

    .dbFieldFileMapping_type_1 {

    }
}

.isContao4 {
    .multi-column-editor {
        input[type="text"]{
            padding: 5px 6px 6px !important;
        }
    }

    &:not(.lw) {

        .multi-column-editor {

            .form-group {
                width: 18% !important;

                > * {
                    width: 100% !important;
                }
            }
        }
    }
}